.baris {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}
.penampung {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
}
.penampung-full{
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.justify-conten{
    justify-content: center;
}